@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Ownglyph_meetme-Rg', sans-serif;
    background-color: #213555;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.container{
    width: calc(100vw-88px);
    height: calc(100vh-80px);
    background-color: #F5EFE7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
}

.left_container{
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid #213555 10px;
    object-fit: cover;
}

.right_container{
    width: 65%;
    
}
