@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Ownglyph_meetme-Rg', sans-serif;
    background-color: #213555;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.container{
    width: calc(100vw -88px);
    height: calc(100vh -80px);
    background-color: #F5EFE7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
}

.left_container{
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_container h2, .left_container h3, .left_container p {
    margin: 10px 3px;
}

.left_container h2 {
    color: #E73879;
}

.left_container h3 {
    color: #3E5879;
}

.left_container p {
    color: #D8C4B6;
    font-size: 20px;
}


.profile-photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid #213555 10px;
    object-fit: cover;
}

.right_container{
    width: 65%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
}

.right_container section{
    background-color: white;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(100% - 120px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right_container section h2{
    color: #e73879;
}

.right_container section ul{
    min-height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill{
    margin-bottom: 10px;
}

.skill-bar{
    background-color: #e0e0e0;
    border-radius: 5px;
}

.skill-level{
    background-color: #e195ab;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
